* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: #8C5712;
}
.main {
  background-color: #484848;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #8C5712;
  /* flex-grow: 1; */
  /* padding-bottom: 100px; */
}
section{
  width: 100%;
}
.search-area{
  height: 60px;
}
.list {
  background-color: bisque;
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* min-height: 200px; */
}
.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  border: 1px solid black;
  height: 200px;
  margin: 5px;
  background-color: #8C5712;
  border-radius: 10px;
  overflow: hidden;
  color: #484848;
}
.card-container img{
  width: auto;
  height: 100%;
  border-right: 10px;
}
.description h2 {
  display: flex;
  flex-wrap: wrap;
}


.footer{
  display: flex;
  justify-content: center;
  gap: 10px;
  height: 50px;
 width: 100%;
  bottom: 0;
  left: 0;
}
@media only screen and (max-width: 1150px){
  .main{
    display: flex;
    justify-content: center;
    padding: 10px;
    line-height: 0;
    height: 150px;
  }

  .card-container {
    flex-direction: column;
   width: 50%;
  }
  .card-container img{
    width: 50%;
  }
}